.green-button{
  margin: 30px auto;
  font-size: 15px;
  font-weight: bold;  
  background-color: #74C145;
  border-radius: 5px;
  cursor: pointer;
  padding-top:17px;
  text-align: center;
  color: white;
}
.green-button:hover{
  background-color: #86D357;
}