.deals-redeemed-history-header {
  display: flex;
}

.deals-redeemed-history-title {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: .69em;
}

.deals-redeemed-history-select {
  width: 170px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
  height: 20px;
}